.mainpage-rechner {
  height: 100%;
  display: grid;
  grid-template-columns: 400px auto;
  grid-column-gap: 30px;
  width: 100%;
  position: fixed;

  overflow-y: auto;
  overflow-x: auto;
  padding-bottom: 100px;
  padding-right: 100px;
}

/*Eingaben*/
.eingabenBox {
  border-radius: 15px;
  background-color: #fff;
  min-width: 285px;
  max-width: 400px;
  height: 100vh;
  min-height: 1000px;
  margin-right: 30px;
  margin-left: 50px;
}

.eingabenBox-header {
  height: 50px;
  display: inline;
}

.eingabenBox-header h3 {
  padding-top: 30px;
  padding-left: 25px;
  padding-bottom: 20px;
  float: left;
}

/*Dropdown Datensätze*/
.dropdown-daten {
  float: right;
  width: 150px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-top: 25px;
  position: relative;
  margin-left: 10px;
}

.eingabeItem {
  border-radius: 15px;
  background-color: #f3f3f3;
  max-height: 110px;
  margin: 20px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  min-width: 245px;
  max-width: 300px;
}

.eingabeItem h4 {
  padding-top: 5%;
  padding-left: 5%;
}

.eingabeItem .underLine {
  height: 3px;
  width: 30px;
  margin-left: 5px;
  margin-top: 3px;
  background-color: #9b9b9b;
}

.eingabe-title {
  width: 220px;
  margin: 20px;
  font-size: large;
  font-weight: bold;
}

.eingabe-form {
  position: relative;
  padding-left: 75px;
}

[type="date"] {
  background: #fff
    url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)
    97% -40% no-repeat;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}
[type="number"]:focus {
  outline: none;
}

input {
  border: 1px solid #c4c4c4;
  background-color: #f3f3f3;
  min-width: 180px;
  height: 30px;
  border-bottom: 1px solid #999;
  border-top: none;
  border-right: none;
  border-left: none;
}

.date {
  background-color: #f3f3f3;
  padding-bottom: 5px;
  height: 20px;
  font-size: 12px;
  border-bottom: 1px solid #999;
  border-top: none;
  border-right: none;
  border-left: none;
  justify-content: center;
}

/*Speichern Button*/

.speichern-button {
  border-radius: 10px;
  border: none;
  background-color: #f3f3f3;
  height: 40px;
  width: 100px;
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  text-align: center;
  cursor: pointer;
}

/*Anlageklasse*/

.assetclass {
  margin-top: 90px;
}

.assetclass-title {
  display: inline;
}

.assetclass-header {
  margin-left: 20px;
  float: left;
}

.switch {
  margin-right: 20px;
  margin-bottom: 10px;
  float: right;
}

.assetclassGenerated-title {
  display: inline;
  background-color: #fff;
}

.assetclassGenerated-header {
  float: left;
  margin-left: 20px;
  margin-right: 100px;
  margin-top: 15px;
}

.classes {
  margin-top: 70px;
  background-color: #fff;
  min-width: 285px;
  max-width: 400px;
  padding-bottom: 20px;
}

.add {
  margin-left: 20px;
  cursor: pointer;
}

.delete {
  margin-left: 20px;
  cursor: pointer;
}

.class-values {
  height: 100px;
  border-radius: 15px;
  border: solid #f3f3f3;
  padding: 20px;
  margin: 20px;
  font-size: large;
  font-weight: bold;
}


/*Kennzahlen Box Style*/

.kennzahlenBox {
  border-radius: 15px;
  background-color: #fff;
  display: table;
  width: 50%;
  height: 825px;
  min-width: 800px;
}

.kennzahlenBox h3 {
  margin-left: 25px;
  margin-top: 30px;
}

.kennzahlen {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 180px 180px 180px 180px;
  height: 750px;
}

.kennzahl {
  margin: 20px;
  background-color: #f3f3f3;
  width: 200px; /*180*/
  height: 130px; /*120*/
  border-radius: 15px;
  word-wrap: break-word;
}

.kennzahl h4 {
  margin: 20px;
  text-align: center;
}

.kennzahl p {
  text-align: center;
}

@media screen and (max-width: 1500px) {
  .kennzahlenBox {
    width: 800px;
  }
}