.simulation-mainpage {
  overflow-y: scroll;
  height: 100%;
  display: grid;
  grid-template-rows: 60px auto;
  grid-row-gap: 10px;
  width: 100vw;
  position: fixed;
  padding-bottom: 100px;
}

.navigationBar {
  margin-top: 10px;
}

.navigationBar ul {
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  width: 100%;
  margin-top: 7px;
  background-color: #f2f2f2;
}

.navigationBar ul li {
  float: left;
  padding-left: calc(100% / 10);
}

.navigationBar ul li a {
  display: block;
  color: lightgrey;
  padding: 10px;
  text-decoration: none;
}

.navigationBar ul li a:hover:not(.active) {
  color: #444444;
}

.navigationBar ul li a.active {
  color: #444444;
}

/*-------*/

.rowSimulation {
  overflow-y: scroll;
  display: grid;
  grid-template-rows: 250px 20px 250px 800px;
}

/*Eingaben Überblick*/
.aktuellerStand {
  margin: 20px;
}

.eingaben-ueberblick {
  border-radius: 20px;
  width: calc(100vw - 250px);
  background-color: #ffffff;
}

.cardBox-header {
  padding: 20px;
}

.cardsSimulation {
  padding: 15px;
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  height: 160px;
  width: calc(100vw - 250px);
  border-radius: 20px;
  overflow-x: scroll;
}

.cardSimulation {
  border-radius: 15px;
  background-color: #f3f3f3;
  height: 110px;
  max-width: 400px;
  min-width: 300px;
}

.cardNameSimulation {
  padding-top: 20px;
  padding-left: 25px;
  font-size: 18;
  font-weight: bold;
}

.underLine {
  height: 3px;
  width: 30px;
  margin-left: 35px;
  margin-top: 3px;
  background-color: #9b9b9b;
}

.number {
  color: black;
  font-weight: 800;
  float: inline-end;
  margin-top: 3%;
  margin-right: 20%;
  font-size: x-large;
}

.divider {
  width: auto;
  height: 2px;
  background-color: #d7d1d1d5;
  margin-left: 20px;
  margin-top: 15px;
}

/*-------*/

/*Simulation*/
.simulation {
  margin: 20px;
  width: calc(100vw - 250px);
  border-radius: 20px;
  display: grid;
  grid-template-columns: 580px 800px;
  grid-gap: 60px;
  float: left;
}

/*container Links*/

.containerLeft {
  background-color: #ffffff;
  border-radius: 30px;
  height: 500px;
  display: grid;
  grid-template-rows: 10% 90%;
  min-width: 600px;
}

.containerItem {
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  background-color: #f3f3f3;
  height: 110px;
  width: 300px;
}

.containerItem-title {
  margin: 2%;
}

.containerLeft-header {
  margin-left: 25px;
  margin-top: 30px;
}

.containerLeft-input {
  display: grid;
  grid-template-columns: 310px 245px;
}

.dropdown {
  width: 200px;
  padding-left: 30px;
}

.asset-item {
  border-radius: 15px;
  margin-top: 20px;
  border: solid #f3f3f3;
  max-height: 110px;
  min-width: 245px;
  max-width: 300px;
}

.asset-item .eingabe-title {
  margin-bottom: 10px;
}

/*
.containerItem input {
  float: inline-end;
  margin-right: 30px;
}
*/
/*-------*/

/*Kennzahlenbox*/

/*
.kennzahlen {
  border-radius: 15px;
  background-color: #fff;
  height: 825px; 
}

.kennzahlen h3 {
  margin-left: 25px;
  margin-top: 30px;
}
*/
